<template>
    <Head title="Tareas" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-200 leading-tight">
                Mis Tareas
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-veinticinco overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-transparent">
                        <div class="mb-4 flex flex-row-reverse">
                            <Button type="button" @click="nuevaTar">Nueva Tarea</Button>
                        </div>
                        <ul class="divide-y-2 divide-gray-100">
                            <li v-for="(tarea, key) in tareas" :key="key" class="p-3 relative" :class="{'line-through':tarea.complete}">
                                <input
                                    type="checkbox"
                                    :checked="tarea.complete"
                                    class="mr-4 cursor-pointer w-6 h-6"
                                    @change="changeState(tarea)"
                                />
                                {{ tarea.tarea }}
                                <button type="button" @click="deleteTask(tarea)" class="absolute right-0 inline-flex items-center justify-center w-8 h-8 shadow-lg bg-red-600 rounded-full font-semibold text-xs text-white hover:bg-red-700 active:bg-red-900 focus:outline-none focus:border-red-900 focus:shadow-outline-red transition ease-in-out duration-150">
                                    <font-awesome-icon icon="trash" />
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="mt-4 flex justify-center rounded-lg text-lg" role="group">
                    <button
                        v-for="(link, key) in links.links"
                        :key="key"
                        @click="getPagina(link.url)"
                        :disabled="!link.url || link.active"
                        :class="{'rounded-l-lg':key == 0, 'rounded-r-lg': key == (links.links.length - 1), 'bg-gray-400 text-gray-300 hover:bg-gray-400 hover:text-gray-300 cursor-not-allowed': !link.url, 'font-bold bg-yellow-300 text-md cursor-not-allowed': link.active}"
                        class="bg-white text-blue-500 hover:bg-blue-500 hover:text-white border border-r-0 border-blue-500  px-4 py-2 mx-0 outline-none focus:shadow-outline disabled:bg-gray-500 disabled:cursor-not-allowed"
                    >
                        {{ parseLabel(link.label) }}
                    </button>
                </div>
        </div>
        <dialog-modal :show="nuevaTarea" @close="closeModal">
                <template #title>
                    Nueva Tarea
                </template>

                <template #content>
                    <div class="my-4 py-4">
                        <Input v-model="nuevaTareaText" placeholder="Ingresa nueva tarea..." class="w-full p-4" />
                    </div>
                </template>

                <template #footer>
                    <Button type="button" @click="closeModal">Cancelar</Button>
                    <Button type="button" @click="enviarTodo">Aceptar</Button>
                </template>
            </dialog-modal>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import { Head } from '@inertiajs/inertia-vue3';
import axios from 'axios';
import Swal from 'sweetalert2';
import Button from '@/Components/Button';
import DialogModal from '@/Components/DialogModal';
import Input from '@/Components/Input';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faTrash } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

library.add(faTrash)
export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
        Swal,
        Button,
        DialogModal,
        Input,
        FontAwesomeIcon
    },
    data(){
        return {
            nuevaTareaText: '',
            nuevaTarea: false,
            tareas: [],
            links: {},
        }
    },
    mounted(){
        this.getTasks();
    },
    methods: {
        getTasks(){
            axios.get('api/tasks')
            .then(({data}) => {
                this.tareas = data.data;
                this.links = data.meta;
            })
            .catch(e => console.log(e));
        },
        deleteTask(tarea){
            Swal.fire({
                title: '¿Eliminar tarea?',
                html: `Estas a punto de eliminar: <b>${tarea.tarea}</b>`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, Eliminar!',
                cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete(`api/tasks/${tarea.id}`)
                        .then(({data}) => {
                            Swal.fire(
                                '¡Listo!',
                                data.msg,
                                'success'
                            )
                        })
                        .catch(e => console.log(e));
                        this.getTasks();
                    }
                });
        },
        enviarTodo(){
            axios.post('api/tasks',{
                tarea: this.nuevaTareaText,
                complete: false
            })
            .then(({data}) => {
                this.nuevaTareaText = '';
                this.closeModal();
                Swal.fire({
                    position: 'bottom',
                    icon: 'success',
                    title: data.msg,
                    showConfirmButton: false,
                    timer: 1500
                });
                this.getTasks();
            })
            .catch(e => console.log(e));
        },
        nuevaTar(){
            this.nuevaTarea = true;
        },
        closeModal() {
                this.nuevaTarea = false
        },
        changeState(tarea){
            this.tareas.map((task, index) => {
                if(task.id == tarea.id){
                    task.complete = !task.complete;
                    axios.put(`api/tasks/${task.id}`, task)
                        .then(() => {
                            this.tareas[index] = task;
                            if(task.complete){
                                Swal.fire({
                                    position: 'bottom',
                                    icon: 'success',
                                    title: 'Tarea Completada!',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        })
                        .catch( e => console.log(e));
                }
            });

        },
        getPagina(url){
            axios.get(url)
                .then(({data}) => {
                    this.tareas = data.data;
                    this.links = data.meta;
                })
                .catch(e => console.log(e));
        },
        parseLabel(label){
            return label.replace('&raquo;','»').replace('&laquo;','«');
        }
    }
}
</script>
