<template>
    <Head title="API Tasks" />

    <div class="relative flex items-top justify-center min-h-screen  sm:items-center sm:pt-0">
        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
            <div class="flex justify-center pt-8 sm:pt-0">
                <h1 class="font-bold text-6xl text-gray-200">Bienvenido</h1>
            </div>

            <div class="mt-8 bg-red-500 overflow-hidden shadow sm:rounded-lg">
                <div class="grid grid-cols-1">
                    <div class="p-6">
                        <div class="flex items-center">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-white"><path d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg>
                            <div class="ml-4 text-lg leading-7 font-semibold"><a href="https://laravel.com/docs" class="underline text-white">Instrucciones</a></div>
                        </div>

                        <div class="ml-12">
                            <div class="mt-2 text-gray-200 text-sm">
                                Primero que nada, muchas gracias por enviarme esta prueba. Para poder ingresar a la sección de tareas deberás ingresar con el usuario <b>admin@admin.com</b> y la contraseña <b>12345678</b>
                            </div>
                            <div class="mt-2 text-gray-200 text-sm">
                                <Link href="/api/documentation" target="_blank" class="text-sm text-gray-700 underline">
                                    Documentación de API
                                </Link>
                            </div>
                            <div class="mt-2 text-gray-200 text-sm">
                                ¿Estás listo? Comencemos!!
                            </div>
                        </div>
                    </div>

                    <div class="p-6">
                        <div class="flex items-center justify-center">
                            <div v-if="canLogin">
                                <Link v-if="$page.props.auth.user" href="/tareas" class="text-sm text-gray-700 underline">
                                    <Button type="button">
                                        Mis tareas
                                    </Button>
                                </Link>

                                <template v-else>
                                    <Link :href="route('login')">
                                        <Button type="button">
                                            Comenzar
                                        </Button>
                                    </Link>
                                </template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { Head, Link } from '@inertiajs/inertia-vue3';
import Button from '@/Components/Button';

export default {
    components: {
      Head,
      Link,
      Button,
    },
    props: {
        canLogin: Boolean,
        canRegister: Boolean,
        laravelVersion: String,
        phpVersion: String,
    },
}
</script>
