@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f15a22 !important;
    background-image: linear-gradient(62deg, #f15a22 0%, #F7CE68 100%) !important;
}
.bg-veinticinco{
    background-color: #f15a22 !important;
    background-image: linear-gradient(62deg, #f15a22 0%, #F7CE68 100%) !important;
}
