<template>
    <Link class="block w-full px-4 py-2 text-left text-sm leading-5 bg-red-400 text-white hover:bg-red-300 focus:outline-none focus:bg-red-200 transition duration-150 ease-in-out">
        <slot />
    </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';

export default {
    components: {
        Link,
    }
}
</script>
