<template>
    <div v-if="hasErrors">
        <div class="font-bold text-lg text-yellow-400">Epa! Algo salió mal.</div>

        <ul class="mt-3 list-disc list-inside text-md text-yellow-400">
            <li v-for="(error, key) in errors" :key="key">{{ error }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    computed: {
        errors() {
            return this.$page.props.errors
        },

        hasErrors() {
            return Object.keys(this.errors).length > 0
        },
    }
}
</script>
